<div class="flex flex-row flex-nowrap align-items-center justify-content-start">
  <p-calendar [(ngModel)]="dateRangeRaw" (onSelect)="onDateRangeSelected($event)" class="date-range-picker"
    selectionMode="range" dateFormat="dd.mm.yy" [minDate]="minDate" [maxDate]="maxDate" [numberOfMonths]="2">
  </p-calendar>
  <p-dropdown [options]="quickSelections" class="date-range-picker-quick-selection" [(ngModel)]="selectedQuickSelection"
    [checkmark]="true" optionLabel="name" placeholder="Schnellauswahl" (onChange)="onQuickSelectionChanged($event)" />
</div>