<div class="layout h-screen">
  <app-header (menuTogglerClicked)="onMenuTogglerClicked()" (appTitleClicked)="onAppTitleClicked()"
    class="header surface-800"></app-header>

  <nav class="side-nav surface-card h-full" [class]="sideNavCssClassByState.get(sideNavState.state)">
    <app-side-nav class="surface-card h-full" (menuItemSelected)="onMenuItemSelected()"></app-side-nav>
  </nav>

  <section class="content surface-ground pl-3 sm:pl-4 lg:pl-6 pr-3 sm:pr-4 lg:pl-6"
    [class.content-on-show-menu]="sideNavState.showOverlay">
    <div class="overlay" [class.overlay-show]="sideNavState.showOverlay"
      (click)="sideNavState.showOverlay && onOverlayClicked()"></div>
    <router-outlet></router-outlet>
  </section>

</div>