<div class="layout h-screen">
  <app-header (menuTogglerClicked)="onMenuTogglerClicked()" (appTitleClicked)="onAppTitleClicked()"
    class="header surface-700"></app-header>

  <nav class="side-nav surface-card h-full" [class]="sideNavCssClassByState.get(sideNavState.state)">
    <app-side-nav class="surface-card h-full" (menuItemSelected)="menuItemSelected()"></app-side-nav>
  </nav>

  <section class="content surface-ground">
    <div [class.mobile-menu-overlay]="sideNavState.showOverlay" (click)="onOverlayClicked()">
      <router-outlet></router-outlet>
    </div>
  </section>

</div>