@import 'primeflex/core/_variables.scss';

.dashboard {
  margin: 2.25rem auto 5.5rem auto;
  width: 100%;
}

.dashboard .p-element > .p-card.p-component {
  height: 100%;
}

.dashboard-week-day-selection .p-dropdown-items-wrapper{
  max-height: 300px !important;
}

@media screen and (max-width: calc(#{$md})) {
  .dashboard {
    margin-top: 1rem;
  }
}


@media screen and (min-width: calc(#{$xl})) {
  .dashboard {
    width: 70%;
  }
}
