<div class="dashboard">

  <div class="mb-3 md:mb-5 flex flex-row flex-wrap align-items-center justify-content-start">
    <app-date-range-picker [offerQuickSelections]="offerQuickSelections" initialRange="L6M"
      (preparedDateRangeChanged)="onPreparedDateRangeChanged($event)" class="mr-3" />
    <p-dropdown class="dashboard-week-day-selection" [checkmark]="false" [options]="weekDays"
      [(ngModel)]="selectedWeekDay" (onChange)="onWeekDayChanged()" />
  </div>

  <div class="grid mb-3 md:mb-5">
    <p-card class="dashboard-card col-12 md:col-6 lg:col-3">
      Aktuellste Werte
      <ul>
        <li>Gewicht</li>
        <li>Fett</li>
        <li>Muskeln</li>
        <li>Wasser</li>
        <li>Bmi</li>
      </ul>
    </p-card>
    <p-card class="dashboard-card col-12 md:col-6 lg:col-3">
      Gewicht
      <ul>
        <li>Differenz Min/Max</li>
        <li>Differenz Von/Bis filter</li>
        <li>Durchschnitt</li>
        <li>Durchschnittliche Zu- und Abnahme pro Woche</li>
      </ul>
    </p-card>
    <p-card class="dashboard-card col-12 md:col-6 lg:col-3">
      Fett
      <ul>
        <li>Differenz Min/Max</li>
        <li>Differenz Von/Bis filter</li>
        <li>Durchschnitt</li>
        <li>Durchschnittliche Zu- und Abnahme pro Woche</li>
      </ul>
    </p-card>
    <p-card class="dashboard-card col-12 md:col-6 lg:col-3">
      Muskelwachstum
      <ul>
        <li>Differenz Min/Max</li>
        <li>Differenz Von/Bis filter</li>
        <li>Durchschnitt</li>
        <li>Durchschnittliche Zu- und Abnahme pro Woche</li>
      </ul>
    </p-card>
  </div>

  <div class="">
    <p-card class="">Foo 2 </p-card>
  </div>

</div>