<div class="daily-analysis">
  <app-content-header title="Tagesanalyse" />
  <div class="mb-3 md:mb-5 flex flex-row flex-wrap items-center justify-start">
    <app-date-range-picker [offerQuickSelections]="offerQuickSelections" initialRange="L14D"
      (preparedDateRangeChanged)="onPreparedDateRangeChanged($event)" />
  </div>

  <app-loading-spinner [show]="bodyAnalysisTableData.state === 'loading'" [debounceTimeInMilliseconds]="400" />

  <p-card [hidden]="bodyAnalysisTableData.state !== 'loaded'">
    <canvas id="daily-chart">{{ dailyChart }}</canvas>
  </p-card>
</div>