<div class="daily-analysis">
  <app-content-header title="Tagesanalyse" />
  <div class="mb-3 md:mb-5 flex flex-row flex-wrap align-items-center justify-content-start">
    <app-date-range-picker initialRange="L30D" (preparedDateRangeChanged)="onPreparedDateRangeChanged($event)" />
  </div>

  @if(isLoading) {
  <div class="card flex justify-content-center">
    <p-progressSpinner ariaLabel="loading" />
  </div>

  }

  <div [hidden]="isLoading">
    <p-card>
      <canvas id="daily-chart">{{ dailyChart }}</canvas>
    </p-card>
  </div>

</div>