<p-card class="analysis-widget">

  <ng-template pTemplate="title">
    {{ title() }}
  </ng-template>

  <ng-template pTemplate="header">


  </ng-template>

  <ng-template pTemplate="content">


    <div class="flex flex-row flex-nowrap align-items-center justify-content-center">

      @if(isLoading() || latestValue() === undefined) {
      <p-skeleton shape="circle" size="90px" />
      }
      @else {
      <p-knob [(ngModel)]="latestValue" [readonly]="true" [valueColor]="knobSettings().color"
        [min]="latestValue() === null ? 0 : knobSettings().min" [max]="knobSettings().max"
        [valueTemplate]="valueTemplate()" [size]="90" />
      }
    </div>

    <div class="flex flex-column flex-nowrap align-items-stretch justify-content-start w-full">

      @if(isLoading() || lossGainInSelectedDateRange() === undefined) {
      <p-skeleton height="1.5rem" styleClass="mt-2" borderRadius="16px" />
      }
      @else if(lossGainInSelectedDateRange() !== null){
      <div class="flex flex-row flex-nowrap align-items-center justify-content-center h-2rem">
        <span class="text-color-secondary pr-1 text-base pi"
          [class]="lossGainInSelectedDateRangeDirectionIcon()"></span>
        <span class="font-medium text-lg">
          {{ lossGainInSelectedDateRangeAbs() | number}} <span class="text-color-secondary text-sm">{{
            knobSettings().unit
            }}</span>
        </span>
      </div>
      }

      @if(isLoading() || averageWeeklyLossGain() === undefined) {
      <p-skeleton height="1.5rem" styleClass="mt-2" borderRadius="16px" />
      }
      @else if (averageWeeklyLossGain() !== null) {
      <div class="flex flex-row flex-nowrap align-items-center justify-content-center h-2rem">

        <span class="unicode-character text-color-secondary pr-1">&#x2300;</span>
        <span class="font-medium text-lg">
          {{averageWeeklyLossGainAbs() | number : '1.2-2'}} <span class="text-color-secondary text-sm">{{
            knobSettings().unit
            }}</span>
        </span>
      </div>
      }

    </div>
  </ng-template>
</p-card>