<div class="flex flex-row align-items-stretch justify-content-start ml-2 mr-2 mt-2 mb-2">

  <a title="menu-toggler" href="javascript:void(0)" class="flex flex-row align-items-center disable-link-styling">
    <i (click)="triggerMenu.emit()" class="pi pi-bars menu-icon text-0 pl-2 pr-2"></i>
  </a>

  <div class="flex flow-row align-items-center ml-2">
    <a routerLink="/" class="disable-link-styling">
      <span class="text-2xl text-0">Simple Body Analysis</span>
    </a>
  </div>

  <div class="flex flex-row align-items-center ml-auto pr-2">
    <span style="color: white;">Test</span>
  </div>
</div>