<div class="landing-page-layout h-screen">

  <div class="landing-page-header flex flex-row items-center justify-end bg-surface-800">
    <div class="m-2 mr-4 ">
      <p-button label="Login" severity="secondary" size="small" (click)="login()" />
    </div>
  </div>


  <div class="landing-page-content-left flex flex-col items-center surface-100">
    <div class="mt-8 w-64 lg:w-80">
      <div><span class="text-5xl font-semibold uppercase text-slate-700">
          <span class="text-primary">Simple </span>Body Analysis</span>
      </div>
      <div class="mt-2 w-64 lg:w-80"><span class="text-lg">Helps you to take care of your body, because you only
          have that
          one.</span></div>
    </div>
  </div>

  <div class="landing-page-content-right surface-100">
    <img src="/assets/scale.jpg" class="scale-image" width="100%" alt="Scale" />
  </div>
</div>