<div class="flex flex-column align-items-stretch justify-content-start h-screen">
  <div class="flex flex-row align-items-center justify-content-end surface-800">
    <div class="m-2 mr-4 ">
      <p-button label="Login" severity="secondary" size="small" (click)="login()" />
    </div>
  </div>
  <div class="flex flex-row flex-wrap-reverse align-items-end justify-content-evenly surface-100 h-full">
    <div class="mt-8 flex flex-column align-items-center justify-content-start">
      <div><span class="text-5xl font-medium text-700 ">Schau auf deinen Körper</span></div>
      <div class="mt-2"><span class="text-lg">Du hast nur den einen</span></div>
    </div>
    <div class="">
      <img src="/assets/scale.jpg" class="scale-image" alt="Foo" />
    </div>
  </div>
</div>