@import 'primeflex/core/_variables.scss';

.table-view-grid-table {
  margin: 0 auto;
  width: 100%;
}

.table-view-grid-table  {

  .p-datatable .p-sortable-column.p-highlight {
    background: unset;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: unset;
  }
}

@media screen and (min-width: calc(#{$xl})) {
  .table-view-grid-table {
    width: 75%;
  }
}
