<div class="h-screen w-screen surface-ground flex flex-column flex-nowrap align-items-center justify-content-start">
  <div class="mt-8"><span class="title font-medium text-700">404</span></div>
  <div class="mt-2"><span class="sub-title font-medium text-color-secondary">Page not found</span></div>
  <div class="mt-4">
    <span class="text-lg text-700 font-medium pr-2">Wanna go home?</span>

    <a routerLink="/" href="/" title="Home">
      <span class="pi pi-arrow-circle-right text-700"></span>
    </a>
  </div>

</div>