<div class="weekly-analysis">
  <app-content-header title="Wochenanalyse" />
  <div class="mb-3 md:mb-5 mr-3 flex flex-row flex-wrap align-items-center justify-content-start">
    <app-date-range-picker initialRange="L6M" (preparedDateRangeChanged)="onPreparedDateRangeChanged($event)" />
    <p-dropdown class="weekly-analysis-week-day-selection" [checkmark]="false" [options]="weekDays"
      [(ngModel)]="selectedWeekDay" (onChange)="onWeekDayChanged()" />
  </div>

  <app-loading-spinner [show]="isLoading" [debounceTimeInMilliseconds]="400">

    <div>
      <p-card>
        <canvas id="weekly-chart">{{ weeklyChart }}</canvas>
      </p-card>
    </div>

  </app-loading-spinner>

</div>