<div class="weekly-analysis">
  <app-content-header title="Wochenanalyse" />
  <div class="mb-3 md:mb-5 flex flex-row flex-wrap items-center justify-start">
    <app-date-range-picker [offerQuickSelections]="offerQuickSelections" initialRange="L6M"
      (preparedDateRangeChanged)="onPreparedDateRangeChanged($event)" class="mr-3" />
    <p-dropdown class="weekly-analysis-week-day-selection" [checkmark]="false" [options]="weekDays"
      [(ngModel)]="selectedWeekDay" (onChange)="onWeekDayChanged()" />
  </div>

  <app-loading-spinner [show]="bodyAnalysisTableData.state == 'loading'" [debounceTimeInMilliseconds]="400" />

  <p-card [hidden]="bodyAnalysisTableData.state !== 'loaded'">
    <canvas id="weekly-chart">{{ weeklyChart }}</canvas>
  </p-card>

</div>