@import '../../../styles/layout-variables';

.profile-user-info > .p-card {
  width: 100%;
}

.profile-user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 125px;
  height: 125px;
  border-radius: 10px;
}

.profile-user-avatar > .p-avatar{

  width: 100px;
  height: 100px;

  .pi-user.p-avatar-icon{
    transform: scale(2);
  }
}

@media screen and (min-width: calc(#{$mobile-breakpoint})) {
  .profile-user-info {
    width: 34rem !important;
  }
}
