.profile-user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 110px;
  height: 110px;
}


.profile-user-avatar > .p-avatar{

  width: 100px;
  height: 100px;

  .pi-user.p-avatar-icon{
    transform: scale(2);
  }
}
