@import 'primeflex/core/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "primeicons/primeicons.css";

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body,
body .p-component {
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
}

.disable-link-styling {
  color: inherit;
  text-decoration: inherit;
}

// override global PrimeNG styles when necessary
.p-button{
  border-radius: 0.145rem;
}

.p-button:focus {
  box-shadow: none;
}

.p-button-label {
  font-weight: 500;
}

.p-button.p-button-sm {
  padding: 0.3875rem 0.8rem;
}
