@import "../../../styles/layout-variables";

.data-upload {
  margin: 0 auto;
  width: 100%;
}

.data-upload-csv-table-container {
  width: 97%;
}

@media screen and (min-width: calc(#{$xl})) {
  .data-upload {
    width: 70%;
  }
}
