<div class="data-upload">
  <app-content-header title="Upload" />

  <p-card>
    <p-stepper orientation="vertical" [linear]="true">

      <p-stepperPanel header="Auswählen">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column h-full">
            <p-fileUpload [multiple]="false" accept="text/csv" maxFileSize="100000"
              (onSelect)="onSelectedFiles($event)">
              <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback"
                let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
                <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
                  <div class="flex gap-2">
                    <p-button (onClick)="chooseCallback()" icon="pi pi-folder-open" [rounded]="true"
                      [outlined]="true" />
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="content" let-files let-uploadedFiles="uploadedFiles"
                let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
                <div class="mt-4">
                  <div *ngIf="files?.length > 0">
                    <h5>Pending</h5>
                    <div class="flex flex-wrap p-0 sm:p-5 gap-5">
                      <div *ngFor="let file of files; let i = index"
                        class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">
                        <span class="font-semibold">{{ file.name }}</span>
                        <div>{{ formatSize(file.size) }}</div>
                        <p-badge value="Pending" severity="warning" />
                        <p-button icon="pi pi-times"
                          (onClick)="onRemoveTemplatingFile($event, file, removeFileCallback, index)" [outlined]="true"
                          [rounded]="true" severity="danger" />
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="file"> </ng-template>
              <ng-template pTemplate="empty">
                <div class="flex align-items-center justify-content-center flex-column">
                  <i class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"></i>
                  <p class="mt-4 mb-0">Ziehen Sie die Datei hierhin, um sie hochzuladen.</p>
                </div>
              </ng-template>
            </p-fileUpload>
          </div>
          <div class="flex py-4">
            <p-button size="small" label="Weiter" [disabled]="files().length === 0" (onClick)="nextCallback.emit()" />
          </div>
        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel header="Vorschau">

        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
          let-index="index">

          @if(parsedCsv.type === 'no-source-file') {
          <div>Es gibt hier nicht zu sehen</div>
          }
          @else if(parsedCsv.type === 'error') {
          <div>{{ parsedCsv.reason }}</div>
          }
          @else if(parsedCsv.type === 'success' && newRecords.state === 'loaded') {

          <div class="data-upload-csv-table-container">
            <p-table [value]="newRecords.value" [paginator]="true" [rows]="10" responsiveLayout="scroll"
              [tableStyle]="{'min-width': '50rem'}" [rowsPerPageOptions]="[5, 10, 15, 20, 40, 50]"
              sortField="analysedAt" [sortOrder]="-1" [showCurrentPageReport]="true"
              currentPageReportTemplate="{first} bis {last} von {totalRecords} Einträgen" styleClass="p-datatable-sm">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="analysedAt">Erfasst <p-sortIcon field="analysedAt" /></th>
                  <th pSortableColumn="weight">Gewicht <p-sortIcon field="weight" /></th>
                  <th pSortableColumn="muscleMass">Muskeln <p-sortIcon field="muscleMass" /></th>
                  <th pSortableColumn="bodyWater">Wasser <p-sortIcon field="bodyWater" /></th>
                  <th pSortableColumn="bodyFat">Fett <p-sortIcon field="bodyFat" /></th>
                  <th pSortableColumn="bmi">Bmi <p-sortIcon field="bmi" /></th>
                  <th pSortableColumn="dailyCalorieRequirement">Täglicher Kalorienbedarf <p-sortIcon
                      field="dailyCalorieRequirement" /></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row>
                <tr>
                  <td>{{ row.analysedAt | formatDate:'Pp' }}</td>
                  <td>{{ row.weight | number }} kg</td>
                  <td>{{ row.muscleMass | number }} %</td>
                  <td>{{ row.bodyWater | number }} %</td>
                  <td>{{ row.bodyFat | number }} %</td>
                  <td>{{ row.bmi | number }}</td>
                  <td>{{ row.dailyCalorieRequirement | number }} kcal</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="7">CSV Datei enthält keine Einträge</td>
                </tr>
              </ng-template>
            </p-table>

          </div>
          }

          <div class="flex py-4 gap-2">
            <p-button size="small" label="Zurück" severity="secondary" (onClick)="prevCallback.emit()" />
            <p-button size="small" label="Weiter"
              [disabled]="!(newRecords.state === 'loaded' && newRecords.value.length > 0)"
              (onClick)="nextCallback.emit()" />
          </div>
        </ng-template>

      </p-stepperPanel>

      <p-stepperPanel header="Hochladen">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
          <div class="flex flex-column align-items-center justify-content-center h-6rem">
            @if(newRecords.state === 'loaded'){

            @if(uploadResult.type === 'not-yet-uploaded') {
            <span class="text-xl font-medium">{{ newRecords.value.length }} Messung(en) hochladen?</span>
            }
            @else if(uploadResult.type === 'error') {
            <span class="text-xl font-medium text-red-600">Fehler beim Hochladen!</span>
            <span class="text-md font-medium mt-2">{{ uploadResult.reason }}</span>
            }
            @else if(uploadResult.type === 'success') {
            <span class="text-6xl font-medium text-green-400 pi pi-check"></span>
            }

            }
          </div>
          <div class="flex py-4 gap-2">
            <p-button size="small" label="Zurück" severity="secondary" (onClick)="prevCallback.emit()" />

            @if(uploadResult.type === 'success') {
            <p-button size="small" label="Home" (onClick)="goHome()" />
            }
            @else {
            <p-button size="small" label="Hochladen" (onClick)="uploadNewRecords()" />
            }
          </div>
        </ng-template>
      </p-stepperPanel>

    </p-stepper>
  </p-card>
</div>